<section>
  <article>
    <mat-card>
      <mat-card-content class="text-center">
        <a href="/" class="push-bottom-md">
          <img src="/assets/logo/logo-text-black.png">
        </a>
        <mat-form-field fxFlexFill>
          <input matInput placeholder="Email" #loginInput>
        </mat-form-field>
        <div class="push-top-sm">
          <mat-form-field fxFlexFill>
            <input matInput placeholder="Password" type="password" #passwordInput>
          </mat-form-field>
        </div>
        <div class="push-top-sm">
          <mat-form-field fxFlexFill>
            <input matInput placeholder="Confirm Password" type="password" #confirmPasswordInput>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="push-top-sm" (click)="signUn(loginInput.value, passwordInput.value)">SIGN UP</button>
        <div class="push-top-md">Already have an account?</div>
        <a routerLink="/login" class="primary-color">Login here</a>
      </mat-card-content>
    </mat-card>
  </article>
</section>
