<section>
  <article>
    <mat-card>
      <mat-card-content class="text-center">


        <a class="push-bottom-md">
          <img src="/assets/logo/logo-text-black.png">
        </a>

        <mat-card-title style="text-align: left;margin-bottom: 20px;">Wybierz kategorię</mat-card-title>

        <div class="wrap">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node"
                            [checked]="checklistSelection.isSelected(node)"
                            (change)="checklistSelection.toggle(node);">{{node.id}}</mat-checkbox>
            </mat-tree-node>


            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'toggle ' + node.id">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox [checked]="descendantsAllSelected(node)"
                            [indeterminate]="descendantsPartiallySelected(node)"
                            (change)="todoItemSelectionToggle(node)">{{node.name}}</mat-checkbox>
            </mat-tree-node>
          </mat-tree>
        </div>

        <button mat-raised-button color="primary" class="push-top-sm" (click)="go()" >Dalej</button>

      </mat-card-content>
    </mat-card>
  </article>
</section>
