<section>
  <article>
    <mat-card>
      <mat-card-content class="text-center">
        <a href="/" class="push-bottom-md">
          <img src="/assets/logo/logo-text-black.png">
        </a>
        <mat-form-field fxFlexFill>
          <input matInput placeholder="Email" #loginInput>
        </mat-form-field>
        <div class="push-top-sm">
          <mat-form-field fxFlexFill>
            <input matInput placeholder="Password" type="password" #passwordInput>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" class="push-top-sm" (click)="login(loginInput.value, passwordInput.value)">LOGIN</button>
        <p>Don't have an account? <a routerLink="/sign-up" class="primary-color">Sign up</a></p>
      </mat-card-content>
    </mat-card>
  </article>
</section>
